* {
  max-width: 1152px;
  margin: 0 auto;
}

// ***************   レスポンシブ設定   *************** 
@mixin sp-screen {
  @media screen and (max-width:767px) {
    @content;
  }
}

//  @mixin tab-screen {
//      @media screen and (max-width:768x) {
//          @content;
//      }
//  }


.first {
  height: 85vh;
  // background-color: aqua;
}

// --------- headr -------------
.header {
  &-main {
    display: flex;
    justify-content: end;

    @include sp-screen {
      display: none;
    }
  }

  &-box {
    margin: 50px 20px;
  }

  @include sp-screen {
    &-bun {
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
      /* background-color: aqua; */
    }

    .bun .pate,
    .bun .pate::before,
    .bun .pate::after {
      width: 100%;
      height: 5px;
      display: block;
      background-color: grey;
      border-radius: 2px;
      transition: all 1s ease;
    }

    .bun .pate {
      position: relative;
      top: calc(50% - 2px);
    }

    .bun .pate::before,
    .bun .pate::after {
      position: absolute;
      content: '';
    }

    .bun .pate::before {
      top: -9px;
    }

    .bun .pate::after {
      top: 9px;
    }

    #hamburger:checked+.bun .pate {
      background-color: transparent;
    }

    #hamburger:checked+.bun .pate::before {
      transform: rotate(45deg) translate(5px, 5px);
    }

    #hamburger:checked+.bun .pate::after {
      transform: rotate(-45deg) translate(7px, -8px);
    }

    #hamburger:checked~.header-right {
      right: 0;
    }
  }
}

// --------- headrここまで -------------

.main {
  &-conteiner {
    position: relative;
    left: 50px;

    @include sp-screen {
      position: static;
    }

  }

  &-box1 {
    @include sp-screen {
      position: relative;
    }

  }

  &-box2 {
    position: absolute;
    top: -120px;
    left: -60px;

    @include sp-screen {
      position: static;
      display: flex;
      width: 30%;
      margin-bottom: 20px;
    }
  }

  &-box3 {
    position: absolute;
    left: 590px;
    top: 240px;

    @include sp-screen {
      left: 7%;
      top: 20%;
      width: 60%;
    }
  }

  &-font {
    top: 1300px;
  }
}


// -----------Contents------------

.contents {
  display: flex;
  justify-content: center;

}

.footer {
  color: black;
  background-color: black;
}