.main-conteiner,
.main-conteiner2 {
  max-width: 1152px;
  margin: 0 auto;
  // background-color: aqua;
}

// ***************   レスポンシブ設定   *************** 
@mixin sp-screen {
  @media screen and (max-width:767px) {
    @content;
  }
}

//  @mixin tab-screen {
//      @media screen and (max-width:768x) {
//          @content;
//      }
//  }



// --------- headr -------------
.menu{
  display: flex;
  justify-content: end;
  margin-right: 130px;
  @include sp-screen {
    display: none;
  }

  a{
    margin-left: 50px;
  }
}

.header {
  &-container{
    padding: 50px 30px 20px;
    @include sp-screen {
      padding: 0%;
    }
  }

  &-main {
    display: none;
    // background-color: aqua; 
  }
}

.header-main{
  @include sp-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
  }
  ul{
    padding: 70px 10px 0;
  }

  ul li{
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }

  ul li a{
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  ul li a::after{
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
}

// ****** ハンバーガーボタン部分 ****** 
@include sp-screen {
  .bun {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 12%;
    top: 9%;
    background-color: red;
  }

  .bun .pate,
  .bun .pate::before,
  .bun .pate::after {
    width: 100%;
    height: 5px;
    display: block;
    background-color: grey;
    border-radius: 2px;
    transition: all 1s ease;
  }

  .bun .pate {
    position: relative;
    top: calc(50% - 2px);
  }

  .bun .pate::before,
  .bun .pate::after {
    position: absolute;
    content: '';
  }

  .bun .pate::before {
    top: -9px;
  }

  .bun .pate::after {
    top: 9px;
  }

  #hamburger:checked+.bun .pate {
    background-color: transparent;
  }

  #hamburger:checked+.bun .pate::before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #hamburger:checked+.bun .pate::after {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  #hamburger:checked~.header-right {
    right: 0;
  }
  // ****** ハンバーガーボタン部分 ここまで ****** 
}


.main {
  &-conteiner {
    position: relative;
    height: 448px;   

    @include sp-screen {
      position: static;
      height: 350px;
    }
  }

  &-box1 {
    width: 100%;
    margin-left: 50px;

    @include sp-screen {
      margin: 0;
    }

  }

  &-box2 {
    position: absolute;
    top: -110px;
    left: -5px;

    @include sp-screen {
      position: static;
      display: flex;
      width: 30%;
      margin: 20px 80px;
    }
  }

  &-box3 {
    position: absolute;
    right: 18px;
    top: 236px;

    @include sp-screen {
      left: 4%;
      top: 23%;
      width: 60%;
    }
  }

  &-font {
    margin-left: 160px;
    @include sp-screen {
      text-align: center;
      font-size: 15px;
    }
  }

  &-hidden {
   display: inline-block;
  }
}

 .pc{
   display: none;
 }
// --------- headrここまで -------------


// -----------Contents------------


h1 {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100px;

  a {
    right: 0px;
    bottom: 20px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    min-height: 100px;
  }

  a::after {
    position: absolute;
    transition: 0.5s;
    right: 0;
    content: '';
    width: 20px;
    height: 2px;
    background: #000000;
    // bottom: -1px;
  }

  a:hover::after {
    width: 100%;
  }

  .blog {
    @include sp-screen {
      left: 0px;
      position: absolute;
      align-items: flex-end;
      min-height: 100px;
    }
  }



  @include sp-screen {
    display: block;
    position: static;
    margin: 5px;
    text-align: center;

  }


  &-bx1 {
    position: relative;
    width: 317px;
    margin: 5px;
    height: 400px;
    display: inline-block;
    transition: all .4s ease-in-out;

    @include sp-screen {
      width: fit-content;
      margin: 0px;
    }

  }

  &-bx1:hover {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 30);
  }
}

.ft {
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 7px;
  margin: 0 auto;
  padding: 55px 0;
  position: static;
}

// h1 {
//   text-align: center;
//   padding: 50px;
//   font-size: 30px;
// }

// .contents {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   min-height: 100px;

//   a {
//     right: 0px;
//     bottom: 20px;
//     position: absolute;
//     display: flex;
//     align-items: flex-end;
//     min-height: 100px;
//   }

//   a::after {
//     position: absolute;
//     transition: 0.5s;
//     right: 0;
//     content: '';
//     width: 20px;
//     height: 2px;
//     background: #000000;
//     bottom: -1px;
//     }

//     a:hover::after {
//     width: 100%;
//     }  

//     .blog{
//       @include sp-screen {
//         left: 0px;
//         position: absolute;
//         align-items: flex-end;
//         min-height: 100px;
//       }
//     }



//   @include sp-screen {
//     display: block;
//     position: static;
//     margin: 0 auto;
//     text-align: center;

//   }

//   &-2 {
//     display: flex;
//     justify-content: space-around;
//     padding: 0 auto;
//     padding-bottom: 50px;
//     min-height: 100px;

//     .blog{
//       @include sp-screen {
//         left: 0px;
//         position: absolute;
//         align-items: flex-end;
//         min-height: 100px;
//       }
//     }

//     a {
//       right: 0px;
//       bottom: 20px;
//       position: absolute;
//       display: flex;
//       align-items: flex-end;
//       min-height: 100px;
//     }

//     a::after {
//       position: absolute;
//       transition: 0.5s;
//       right: 0;
//       content: '';
//       width: 20px;
//       height: 2px;
//       background: #000000;
//       bottom: -1px;
//       }

//       a:hover::after {
//       width: 100%;
//       }  


//     @include sp-screen {
//       display: block;
//       position: static;
//       margin: 0 auto;
//       width: 100%;
//       text-align: center;
//     }
//   }

//   &-bx1 {
//     position: relative;
//     width: 317px;
//     margin: 5px;
//     height: 400px;
//     display: inline-block;
//     transition: all .4s ease-in-out;

//     @include sp-screen {
//       margin: 0 auto;
//     }

//   }

//   &-bx1:hover {
//     box-shadow: 1px 1px 12px rgba(0, 0, 0, 30);
//   }

//   &-bx2 {
//     position: relative;
//     width: 317px;
//     margin: 5px;
//     height: 400px;
//     display: inline-block;
//     transition: all .4s ease-in-out;

//     @include sp-screen {
//       margin: 0 auto;
//     }
//   }
//   &-bx2:hover {
//     box-shadow: 1px 1px 12px rgba(0, 0, 0, 30);
//   }
// }

// footer {
//   background-color: black;
//   height: 70px;
//   color: white;
//   text-align: center;
//   font-size: 7px;
//   margin: 0 auto;
//   padding: 55px 0;
// }