* {
  max-width: 1152px;
  margin: 0 auto;
}

.first {
  height: 85vh;
}

@media screen and (max-width: 767px) {
  .first {
    height: 53vh;
  }
}

.header-main {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .header-main {
    display: none;
  }
}

.header-box {
  margin: 50px 20px;
}

@media screen and (max-width: 767px) {
  .bun {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 19%;
    top: 13%;
    /* background-color: aqua; */
  }
  .bun .pate,
  .bun .pate::before,
  .bun .pate::after {
    width: 100%;
    height: 5px;
    display: block;
    background-color: grey;
    border-radius: 2px;
    transition: all 1s ease;
  }
  .bun .pate {
    position: relative;
    top: calc(50% - 2px);
  }
  .bun .pate::before,
  .bun .pate::after {
    position: absolute;
    content: '';
  }
  .bun .pate::before {
    top: -9px;
  }
  .bun .pate::after {
    top: 9px;
  }
  #hamburger:checked + .bun .pate {
    background-color: transparent;
  }
  #hamburger:checked + .bun .pate::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #hamburger:checked + .bun .pate::after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #hamburger:checked ~ .header-right {
    right: 0;
  }
}

.main-conteiner {
  position: relative;
  left: 50px;
}

@media screen and (max-width: 767px) {
  .main-conteiner {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .main-box1 {
    position: relative;
  }
}

.main-box2 {
  position: absolute;
  top: -120px;
  left: -60px;
}

@media screen and (max-width: 767px) {
  .main-box2 {
    position: static;
    display: flex;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main-box3 {
  position: absolute;
  left: 590px;
  top: 240px;
}

@media screen and (max-width: 767px) {
  .main-box3 {
    left: 4%;
    top: 29%;
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .main-font {
    text-align: center;
    font-size: 15px;
  }
}

h1 {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.contents {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
}

.contents a {
  right: 0;
  bottom: 20px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  min-height: 100px;
}

.contents a::after {
  position: absolute;
  right: 0;
  content: '';
  width: 20px;
  height: 2px;
  background: #000000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}

.contents a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 767px) {
  .contents {
    display: block;
    position: static;
    margin: 0 auto;
    text-align: center;
  }
}

.contents-2 {
  display: flex;
  justify-content: space-around;
  padding: 0 auto;
  padding-bottom: 50px;
  min-height: 100px;
}

.contents-2 a {
  right: 0;
  bottom: 20px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  min-height: 100px;
}

.contents-2 a::after {
  position: absolute;
  right: 0;
  content: '';
  width: 20px;
  height: 2px;
  background: #000000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}

.contents-2 a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 767px) {
  .contents-2 {
    display: block;
    position: static;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.contents-bx1 {
  position: relative;
  width: 317px;
  margin: 5px;
  height: 400px;
  display: inline-block;
  transition: all .4s ease-in-out;
}

@media screen and (max-width: 767px) {
  .contents-bx1 {
    margin: 0 auto;
  }
}

.contents-bx1:hover {
  box-shadow: 1px 1px 12px black;
}

.contents-bx2 {
  position: relative;
  width: 317px;
  margin: 5px;
  height: 400px;
  display: inline-block;
  transition: all .4s ease-in-out;
}

@media screen and (max-width: 767px) {
  .contents-bx2 {
    margin: 0 auto;
  }
}

.contents-bx2:hover {
  box-shadow: 1px 1px 12px black;
}

footer {
  background-color: black;
  height: 90px;
  color: white;
  text-align: center;
  font-size: 7px;
  margin: 0 auto;
  padding: 60px 0;
}
/*# sourceMappingURL=style.css.map */